COPYING
INSTALL
Makefile.in
aclocal.m4
bin/Makefile.in
config/Makefile.in
configure
doc/HTML/Makefile.in
doc/Makefile.in
install-sh
missing
doc/man/Makefile.in
doc/refentry/Makefile.in
sgml-iso-entities/Makefile.in
xml-iso-entities/Makefile.in
autom4te.cache